<h1>{{title}}</h1>

{{!-- if there is error it will be show --}}
{{#if error}}
<h1>{{error}}</h1>
{{/if}}

<h3>Upload photo to create a meme</h3>

<div id="upload">
<form action="/upload" method="post" enctype="multipart/form-data">
{{!-- accept is a front end guard for the right type of files --}}
    <input class="form-control" type="file" name="fileUpload" accept="image/jpeg, image/png, image/jpg, image/gif" style="background-color:transparent; border:none; "/>
    <button class="btn btn-outline-light" type="submit">Upload</button>
</form>
</div>

